# .NET
bin/
obj/
*.user
*.suo

# Angular / Node
node_modules/
dist/
.angular/

# IDE
.vs/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env / secrets
*.env
appsettings.Development.json
appsettings.Local.json
